 :root {
            /* Une perspective basse (600px) accentue l'effet "Grand Angle" */
            --persp: 600px;

            --cam-x: 0px;
            --cam-y: 0px;
            --cam-z: 0px;
            --rot-x: 0deg;
            --rot-y: 0deg;
        }

        body {
            margin: 0;
            height: 100vh;
            overflow: hidden;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .scene {
            width: 100%;
            height: 100%;
            perspective: var(--persp);
            pointer-events: none;
        }

        .world {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform-origin: 50% 50% -2500px;

            transform:
                translate3d(var(--cam-x), var(--cam-y), var(--cam-z)) rotateX(var(--rot-x)) rotateY(var(--rot-y));

            will-change: transform;
        }

        .piece img {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        .back {
            transform: translate(-50%, -50%) translateZ(-6000px) scale(12);

            filter: brightness(1) blur(1px);
            z-index: 1;
        }

        .front {
            transform: translate(-50%, -50%) translateZ(500px) scale(0.6);

            z-index: 10;
        }

        #proxy {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: grab;
            z-index: 100;
        }

        #proxy:active {
            cursor: grabbing;
        }