:root {
    /* --- CONFIGURATION GLOBALE --- */
    --persp: 800px;

    --cam-x: 30px; --cam-y: 30px; --cam-z: 271px;
    --cam-rx: 0deg; --cam-ry: 0deg; --cam-rz: 0deg;
    
    --pivot-z: -2000px;

    --layer-gap: 500px;
    --back-scale: 2;
    --blur-back: 0px;
    --dim-back: 1;
}

body {
    margin: 0; height: 100vh; overflow: hidden;
    background-color: white;
    font-family: sans-serif;
    display: flex; justify-content: center; align-items: center;
}

.scene {
    width: 100%; height: 100%;
    perspective: var(--persp);
    perspective-origin: 50% 50%;
}


.world {
    position: relative;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    
    transform-origin: 50% 50% var(--pivot-z);

    transform:
        translate3d(var(--cam-x), var(--cam-y), var(--cam-z)) 
        rotateX(var(--cam-rx)) 
        rotateY(var(--cam-ry)) 
        rotateZ(var(--cam-rz));
    
    will-change: transform;
}


.piece {
    position: absolute;
    top: 50%; left: 50%;
    width: 0; height: 0;
    transform-style: preserve-3d;
}

.piece-1 {
    transform: translate3d(-200px, -120px, 0);
}
.piece-2 {
    transform: translate3d(0, 105px, 0);
}

.piece-3 {
    rotate: 90deg;
    transform: translate3d(18px, -310px, 0);

}


.piece img {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.back {
    transform: translate(-50%, -50%) translateZ(-500px) scale(2);
    z-index: 1;
    filter: blur(var(--blur-back)) brightness(var(--dim-back));
}

.front {
    transform: translate(-50%, -50%) translateZ(0px);
    z-index: 2;
}