:root {
    /* --- CONFIGURATION GLOBALE --- */
    --persp: 800px;

    --cam-x: 30px; --cam-y: px; --cam-z: 271px;
    --cam-rx: 0deg; --cam-ry: 0deg; --cam-rz: 0deg;
    
    --pivot-z: -2000px;

    --layer-gap: 500px;
    --back-scale: 2;
    --blur-back: 0px;
    --dim-back: 1;
}

body {
    margin: 0; height: 100vh; overflow: hidden;
    background-color: white;
    font-family: sans-serif;
    display: flex; justify-content: center; align-items: center;
}

.scene {
    width: 100%; height: 100%;
    perspective: var(--persp);
    perspective-origin: 50% 50%;
}


.world {
    pointer-events: auto    ;
    position: relative;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    
    transform-origin: 50% 50% var(--pivot-z);

   transform: 
        translateZ(var(--cam-z)) 
        rotateX(var(--cam-rx)) 
        rotateY(var(--cam-ry)) 
        translate3d(var(--cam-x), var(--cam-y), 0);

    transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transform;
}


.piece {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px; height: 500px;
    margin-left: -200px;
    margin-top: -250px;
    transform-style: preserve-3d;
}

.piece-1 {
    transform: translate3d(-200px, -120px, 0);

}
.piece-2 {
    transform: translate3d(30px, 132px, 0);

}
.piece-3 {
    transform: translate3d(200px, -120px, 0);


}
.piece-4 {
    transform: translate3d(-451px, 195px, 0);


}.piece-5 {
    rotate: -90deg;
    transform: translate3d(130px, -525px, 0);

}



.piece img {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.back {
    transform: translate(-50%, -50%) translateZ(-500px) scale(2);
    z-index: 1;
    filter: blur(var(--blur-back)) brightness(var(--dim-back));
}

.mid{
    transform: translate(-50%, -50%) translateZ(-250px);
    z-index: 2;
}

.front {
    transform: translate(-50%, -50%) translateZ(0px);
    z-index: 5;
}