body{
    margin: 0px;
    padding: 0px;
    height: 200vh; /* Permet le scroll */
    overflow-x: hidden;
}

.appartement{
    height: 94vh;
    width: 96vw;
    border: 35px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    /* transition: height 0.1s ease-out; */
}

h3{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 1000;
}

.cave{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100vh;
    left: 0px;
    background-color: black;
    color: white;
    /* transition: top 0.1s ease-out, opacity 0.1s ease-out; */
}